vbar-static-top {
  margin-bottom: 20px;
}

i {
  font-size: 18px;
}

footer {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #efefef;
}

.nav > li .count {
  position: absolute;
  top: 10%;
  right: 25%;
  font-size: 10px;
  font-weight: normal;
  background: rgba(41, 200, 41, 0.75);
  color: rgb(255, 255, 255);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/** SIGN IN PAGE */
body {
  /*padding-top: 40px;*/
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  }
  /** END SIGN IN PAGE */
